@font-face
  font-family: 'Artific'
  font-weight: 400
  font-display: swap
  src: url('./Fonts/Artific-Regular.otf') format('opentype')

body
    font-family: 'Artific', sans-serif

// Font Weights
$font-weight-values: (100: 100, 200: 200, 300: 300, 400: 400, 500: 500, 600: 600, 700: 700, 800: 800, 900: 900)
@each $key, $value in $font-weight-values 
    .fw-#{$key} 
        font-weight: $value

// Width Based on REM
$width-values: (1: 1rem, 2: 2rem, 3: 3rem, 4: 4rem, 5: 5rem, 6: 6rem, 7: 7rem, 8: 8rem, 9: 9rem, 10: 10rem, 15: 15rem)
@each $key, $value in $width-values 
    .wd-#{$key} 
        width: $value

// Height Based on REM
$height-values: (1: 1rem, 2: 2rem, 3: 3rem, 4: 4rem, 5: 5rem, 6: 6rem, 7: 7rem, 8: 8rem, 9: 9rem, 10: 10rem, 15: 15rem)
@each $key, $value in $height-values 
    .ht-#{$key} 
        height: $value

// Border Radius Based on REM
@mixin br-style($remRad)
    border-radius: $remRad
$border-radius-values: (0: 0rem, 1: 0.5rem, 2: 1rem, 3: 1.5rem, 4: 2rem, 5: 2.5rem, 6: 3rem, 7: 3.5rem, 8: 4rem, 9: 4.5rem, 10: 5rem, 15: 7.5rem)
@each $key, $value in $border-radius-values 
    .br-#{$key} 
        @include br-style($value)


// Background Color
@mixin bg-style($hex-color)
    background-color: $hex-color
    &:hover
        opacity: 80%

$bg-color-values: (black: #000000, red: #FF0000)
@each $key, $value in $bg-color-values
    .bg-#{$key}
        @include bg-style($value)
.bg-white
    @include bg-style(#ffffff)
    &:hover
        background-color: #c6c6c6

// Foreground Color
$fg-color-values: (black, white, red)
@mixin fg-style($hex-color)
    color: $hex-color

@each $clr in $fg-color-values
    .fg-#{$clr}
        @include fg-style($clr)


// Cursor Style
.cr-pnt
    cursor: pointer